/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4; /* Light gray to give contrast to the cards */
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

@media (max-width: 768px) {
    nav ul li {
        display: block;
        text-align: center;
        margin: 10px 0;
    }
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ffcc00; /* Adds a hover effect for better UX */
}

section {
    padding: 2rem;
    margin: 2rem 0;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
    font-size: 2rem;
}

footer {
    margin-top: 2rem; /* To give space before the footer */
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
    bottom: 0;
}
.dark-mode {
    background-color: #222;
    color: white;
}
.spaced {
    margin-bottom: 1rem; /* Adjust this value for more or less space */
}

.card {
    background: white; /* Card background */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Light shadow */
    margin: 20px; /* Margin between cards */
    padding: 20px; /* Padding inside cards */
}

.card h2 {
    margin-bottom: 1rem;
}
.card p {
    margin-bottom: 1.5rem;
}

.dark-mode .card {
    background-color: #333;
    color: white;
}
